beautifulsoup4==4.11.1
matplotlib==3.5.1
notebook==6.4.12
omegaconf==2.3.0
opencv-contrib-python==4.8.1.78
pandas==1.5.3
requests==2.33.0
scikit-learn==1.0.2
seaborn==0.12.2
tensorflow==2.12.1
torch==2.13.0
torchvision==0.11.2
torchaudio==0.10.1
tqdm==4.64.0
